# home directoryを変更してください
USER_DATA_DIR="/home directory/Desktop/programming/chrome/test_user_data"
PROFILE = "Default"

ACCESS_URL="https://ss523971.stars.ne.jp/todo/wp-admin/post.php?post=3323&action=edit"
ENGLISH_ARTICLE_URL="https://ss523971.stars.ne.jp/todo/wp-admin/post.php?post=6634&action=edit"
ARTICLE_URL="https://ss523971.stars.ne.jp/todo/xargs-shape-string/"
REPOSITORY_NAME="xargs_shapeString"